

.skill{
    margin-bottom: 40px;
    color: white;
}
.skills{
    display: flex;
    /* border: 2px solid brown; */
    gap: 40px;
    height: 65vh;
    width: 95vw;
    /* padding-left: 5vw; */
}
.frontend{
    /* border: 2px solid red; */
    margin-left: 10vw;
    width: 25vw;
    padding-left: 40px;
    background-color: rgb(56, 56, 106);
    border-radius: 10px;
}
.frontend:hover{
    /* background-color: rgb(23, 23, 46); */
    background: #303085;
    background: radial-gradient(90deg, rgba(48, 48, 133, 1) 32%, 
     rgb(48, 88, 106) 67%);
}
.backend{
    /* border: 2px solid red; */
    margin-left: 10vw;
    width: 25vw;
    padding-left:40px ;
    background-color: rgb(56, 56, 106);
    border-radius: 10px;


}
.backend:hover{
    background: #303085;
    background: radial-gradient(90deg, rgba(48, 48, 133, 1) 32%, 
     rgb(48, 88, 106) 67%);
}
.frontend>ul>li{
    color: antiquewhite;
    font-size: large;
    font-weight: 700;

}
.backend>ul>li{
    color: antiquewhite;
    font-size: large;
    font-weight: 700;
}
.frontend>ul>img{
    height: 20px;
    position: relative;
    top: 27px;
    right: 20px;
    border-radius: 50px;
}
.backend>ul>img{
    height: 20px;
    position: relative;
    top: 27px;
    right: 20px;
    border-radius: 50px;

}
